.slick-prev {
    left: -50px;
}

#homeSlider {
    background: url(/src/assets/imgs/background/1.jpg) center no-repeat fixed;
    background-size: cover;
    margin: 0 auto;
    height: calc(100vh - 140px);
}
#homeSlider .inner-section {
    padding-top: calc( (100vh - 600px)/2 );
    padding-bottom: calc( (100vh - 600px)/2 );
    padding-left: 10%;
    padding-right: 10%;
}

.item-slider {
    margin: 0 10px;
}

/*Top Slider*/
.item-top-slider {
    color: #fff;
}

.left-info-item-slider {
    width: 100%;
    text-align: right;
    padding: 20px;
}

.item-top-view-story .title-item-slide {
    font-weight: 800;
    letter-spacing: 3px;
}

.link-story:hover {
    color: #f07c29;
}

.title-item-slide {
    font-size: 50px;
    margin-bottom: 15px;
}

.author-item-slide {
    margin: 15px 0;
}

a.link-story, a.link-author {
    color: white;
}
.link-author:hover {
    color: #5cb85c;
}

.right-info-item-slider {
    margin-top: 35%;
}

/*Hot Slide*/
.item-book-img.slick-center {
    transform: scale(1.18);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.item-book-img {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    top: 55px;
    position: relative;
}

.slider-hot .slick-slider .slick-track {
    height: 400px;
}